fastapi
uvicorn[standard]
python-dotenv
openai
python-multipart
pydantic
docling
qdrant-client
tiktoken
transformers
requests
google-cloud-storage
google-generativeai
cloudinary
regex
redis

onnxruntime
rapidocr-onnxruntime
opencv-python-headless