fastapi
uvicorn[standard]
python-dotenv
openai
python-multipart
pydantic==2.11.7
pydantic-core==2.33.2
pydantic-settings==2.9.1
docling==2.36.1
docling-core==2.37.0
docling-ibm-models==3.4.4
docling-parse==4.0.5
lancedb==0.23.0
pyarrow==20.0.0
tiktoken
requests
google-cloud-storage
cloudinary